#main{
    padding-left: 30px;
    padding-top: 15px;
}

#submittext {
    position: relative;
    top:17%;
    right:1%;
}

#submitfield {
    border: solid gray;
}

#addtag {
    font-size: 2rem;
}

#addtaglist{
    width: 98%;
    height: 400px;
    background-color: #161920;
    padding: 10px;
}

#barreV2 {
    background-color: #161920;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0px;
    width: 70%;
    text-align: center;
    overflow-y: auto;
    display: inline;
}

#barreV2::-webkit-scrollbar {
    visibility: hidden;
    width: 0px;
}

.categoryV2 {
    float:left;
    margin: 0 auto;
}

#taglistV2 {
    display: inline-block;
    width: 49.5%;
    height: 100%;
    margin: 0%;
    width: 90%;
    height: 200px;
    margin-bottom: 0%;
    background-color: #393939;
    overflow: hidden;
    text-align: center;
    border: solid #f0f0e6;
}

#title-tagV2 {
    margin-bottom: 1%;
    margin-right: 74%;
    font-size : 20px;
    text-align: center;
    margin: 0 auto;
}

h1{
    font-size : 30px;
    margin-bottom: 20px
    
}

.bouton{
    text-align: center;
    background-color: #000000;
    color : #ffffff;
    font-size: 15px;
    padding:10px 20px;
    font-weight: bolder;
    margin-bottom: 10px;
}

#pp{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    position: absolute;
    top:140px;
    left:300px;
}

#RoleUpload{
    background-color: #850606;
    width: 60px;
    height: 20px;
    text-align: center;
    line-height: 0px;
    font-size: 10px;
    color : #ffffff;
    border-radius: 30%;
    border: solid 2px #000000;
    position: relative;
    left: 24%;
    margin-top: -4%;

}

#upload{
    text-decoration: none;
    color: #ffffff;
    position: absolute;
    right: 200px;
    top: 50%;
    transform: translateY(-50%);
}

#lienHome{
    text-decoration: none;
    color: #ffffff;
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
}

#lienHome:hover {
    color: #ea001c;
}

#lienCompte2 {
    text-decoration: none;
    color: #ffffff;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
}

#lienCompte2:hover {
    color: #ea001c;
}