#main{
    padding-left: 30px;
    padding-top: 15px;
    width: 40vw;

}



#description{
    width: 400px;
}

h1{
    font-size : 30px;
    margin-bottom: 20px
    
}

.bouton{
    text-align: center;
    background-color: #000000;
    color : #ffffff;
    font-size: 15px;
    padding:10px 20px;
    font-weight: bolder;
    margin-bottom: 10px;
}

#pp{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    position: absolute;
    top:140px;
    left:300px;
}

#compte{
    text-decoration: none;
    color: #ffffff;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);

}

#lienHome{
    text-decoration: none;
    color: #ffffff;
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
}

#lienHome:hover,#compte:hover {
    color: #ea001c;
}

#main2{
    position: absolute;
    left: 50vw;
    top: 10%;
    width : 40vw;
    height : 50vh;
}


input{
    margin: 5px;
}

#labelmdpInput, #emailIncorrect{
    display: inline;
    color: red;
    visibility: hidden;
}

#RoleCompte{
    width: fit-content;
}
