#main {
    padding: 60px;
    max-width: 900px;
}

#title {
    display: flex;
    align-items: center;
    gap: 15px;
}

#title #avatar-container {
    width: 100px;
    min-width: 100px;
    height: 100px;
    min-height: 100px;
    border-radius: 50px;
    overflow: hidden;
}

#title #avatar-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#role-compte {
    background-color: #af001e;
}

#title-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#title-content-up {
    display: flex;
    align-items: center;
    gap: 15px;
}

#title-content-up h1 {
    font-size: 26px;
    font-weight: bold;
    margin: 0;
}

#title-content p {
    margin: 0;
}

#info {
    margin-top: 25px;
}

#info > div {
    display: flex;
    align-items: center;
    align-items: flex-start;
}

#info > div > h3 {
    min-width: 200px;
    padding: 7px 15px;
}

#info > div > p {
    border-left: 1px solid black;
    padding: 7px 15px;
    flex-grow: 1;
    max-width: 580px;
    width: 580px;
    overflow-wrap: normal;
}


.open-btn {
  box-sizing: border-box;
  font-family: Roboto, Helvetica, sans-serif;
}
/* Stylez et fixez le bouton sur la page */
.open-button {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  margin-top: 15px;
}
/* Positionnez la forme Popup */
.login-popup {
  position: relative;
  text-align: center;
  width: 100%;
}
/* Masquez la forme Popup */
.form-popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #666;
  z-index: 9;
  width: fit-content;
}
/* Styles pour le conteneur de la forme */
.form-container {
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
}
/* Largeur complète pour les champs de saisie */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #eee;
}
/* Quand les entrées sont concentrées, faites quelque chose */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}
/* Stylez le bouton de connexion */
.form-container .btn {
  background-color: #8ebf42;
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
/* Stylez le bouton pour annuler */
.form-container .cancel {
  background-color: #cc0000;
}
/* Planez les effets pour les boutons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

#mesFichiers{
    margin-top: 100px;
}

#labelNewMdp,#labelVerifMdp{
    font-weight: bold;
}