#main{
    padding-left: 30px;
    padding-top: 15px;
    width: 40vw;

}



#description{
    width: 400px;
}

h1{
    font-size : 30px;
    margin-bottom: 20px
    
}

.bouton{
    text-align: center;
    background-color: #000000;
    color : #ffffff;
    font-size: 15px;
    padding:10px 20px;
    font-weight: bolder;
    margin-bottom: 10px;
}

#pp{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    position: absolute;
    top:140px;
    left:300px;
}

#compte{
    text-decoration: none;
    color: #ffffff;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);

}

#lienHome{
    text-decoration: none;
    color: #ffffff;
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
}

#lienHome:hover,#compte:hover {
    color: #ea001c;
}

#main2{
    position: absolute;
    left: 50vw;
    top: 10%;
    width : 40vw;
    height : 50vh;
}


input{
    margin: 5px;
}

#labelmdpInput, #emailIncorrect{
    display: inline;
    color: red;
    visibility: hidden;
}

#RoleCompte{
    width: fit-content;
}

.open-btn {
    box-sizing: border-box;
    font-family: Roboto, Helvetica, sans-serif;
  }
  /* Stylez et fixez le bouton sur la page */
  .open-button {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
  }
  /* Positionnez la forme Popup */
  .login-popup {
    position: relative;
    text-align: center;
    width: 100%;
  }
  /* Masquez la forme Popup */
  .form-popup {
    display: none;
    position: fixed;
    left: 30%;
    top: 15%;
    transform: translate(-45%, 5%);
    border: 2px solid #666;
    z-index: 9;
  }
  /* Styles pour le conteneur de la forme */
  .form-container {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
  }
  /* Largeur complète pour les champs de saisie */
  .form-container input[type="text"],
  .form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #eee;
  }
  /* Quand les entrées sont concentrées, faites quelque chose */
  .form-container input[type="text"]:focus,
  .form-container input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
  }
  /* Stylez le bouton de connexion */
  .form-container .btn {
    background-color: #8ebf42;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
  }
  /* Stylez le bouton pour annuler */
  .form-container .cancel {
    background-color: #cc0000;
  }
  /* Planez les effets pour les boutons */
  .form-container .btn:hover,
  .open-button:hover {
    opacity: 1;
  }

  #mesFichiers{
      margin-top: 100px;
  }

  #labelNewMdp,#labelVerifMdp{
      font-weight: bold;
  }