#content {
    display: flex;
    justify-content: center;
}

#content > div {
    width: 50%;
}

.container {
    width: fit-content;
}

.tag {
    background-color: rgb(118, 118, 118);
    border-radius: 500px;
    margin: 0;
    padding: 6px 12px;
    height: fit-content;
    width: fit-content;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    user-select: none;
}

.tag > p {
    margin: 0;
}

.tag img {
    width: 15px;
    height: 15px;
}
