*,
html,
body {
    box-sizing: border-box;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: #fffee6;
}

.pointerOnHover {
    cursor: pointer;
}

.undraggable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

header {
    position: relative;
    background: linear-gradient(#af001e, #ea001c);
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    height: 85px;
    overflow: hidden;
    gap: 40px;
    padding: 0 40px 0 0;
}

#menuToggle {
    height: 40px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
}

#home {
    width: 360px;
    height: 85px;
}

#home img {
    width: 100%;
}

#lienUpload {
    text-decoration: none;
    white-space: nowrap;
    color: #ffffff;
    margin-left: auto;
    padding: 12px;
    border-radius: 5px;
}

#lienUpload:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#lienCompte {
    text-decoration: none;
    white-space: nowrap;
    color: #ffffff;
    padding: 12px;
    border-radius: 5px;
}

#lienCompte:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Media querie */

@media (max-width: 820px) {
    header {
        flex-direction: column;
        height: auto;
        gap: 5px;
        padding: 0;
    }

    #lienUpload {
        margin: -15px 0 0 0;
    }

    #lienCompte {
        margin-bottom: 10px;
    }
}

