*,
html,
body {
    box-sizing: border-box;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: #fffee6;
}

.pointerOnHover {
    cursor: pointer;
}

#content {
    display: flex;
    height: calc(100vh - 85px);
}

.undraggable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Sidebar */

#barre {
    background: #af001e;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    width: 300px;
    text-align: center;
    overflow-y: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    visibility: hidden;
    width: 0px;
}

.pre-tri {
    background-color: rgb(58, 69, 73);
    border-radius: 5px;
    margin: auto;
    padding: 6px 12px;
    height: fit-content;
    width: fit-content;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    user-select: none;
}

.pre-tri > p {
    margin: 0;
}

#tri-primaire{
    padding: 15px 6px 5px 6px;
}

#type-tag-tri-holder{
    display: flex;
    justify-content: space-evenly;
}

#toggle-mes-fichiers{
    margin-bottom: 10px;
}

.active{
    background-color: rgb(17, 150, 208);
}

.Intersection{
    background-color: #FF890A;
}

.Union{
    background-color: #3671B3;
}

#liste-categories {
    overflow: auto;
    flex-grow: 1;
    margin: 0 15px;
    padding-bottom: 250px;
}

.category {
    text-align: left;
}

.category > p {
    margin-bottom: 5px;
}

.taglist {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 95%;
    max-height: 200px;
    overflow: auto;
    margin-bottom: 0%;
    text-align: center;
}

#espace-admin {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: medium;
    font-weight: normal;
    transform: translateY(calc(100% - 57px));
    transition: transform 0.25s ease;
    background: #af001e;
}

#espace-admin.shown {
    transform: translateY(0%);
}

#espace-admin.shown #espace-admin-title > img {
    transform: rotate(0deg);
}

#espace-admin-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: larger;
}

#espace-admin-title > img {
    width: 25px;
    height: 25px;
    margin: 0 20px;
    transform: rotate(180deg);
    transition: transform 0.25s ease;
}

#espace-admin-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: flex-start;
    border-left: white 3px solid;
    margin-left: 30px;
    margin-bottom: 15px;
    padding: 0px 15px;
}

#espace-admin-links a {
    padding: 12px;
    border-radius: 5px;
}

#espace-admin-links a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#create {
    display: none;
    overflow: hidden;
    font-size: 1rem;
    margin: 0 15px;
    margin-top: 15px;
    position: absolute;
    bottom: 0;
    height: fit-content;
    transform: translateY(calc(100% - 55px));
    transition: all 0.25s ease;
}


/* Gallerie */

#gallery-container {
    overflow-y: auto;
    flex: 1;
}

#gallery-container::-webkit-scrollbar {
    visibility: hidden;
    width: 0;
}

#gallery-header > .tag {
    border-color: #000000;
}

#gallery::-webkit-scrollbar {
    visibility: hidden;
    width: 0px;
}

#gallery-header {
    position: absolute;
    display: inline-flex;
    padding: 10px;
    height: 60px;
    gap: 5px;
    align-items: center;
}

#gallery {
    column-width: 300px;
    column-count: 5;
    padding: 60px 10px 10px 10px;
}

#gallery > .file-container {
    margin-bottom: 15px;
    width: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background-color: #000000;
    overflow: hidden;
}

#gallery > .file-container > .file-preview {
    width: 100%;
    vertical-align: top;
}

#gallery > .file-container > .file-hover {
    padding: 10px;
    color: rgb(255, 255, 255);
    width: 100%;
    transition: all 0.25s ease;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    height: fit-content;
    transform: translateY(100%);
    overflow: hidden;
    backdrop-filter: blur(4px);
    cursor: default;
}

#gallery > .file-container:hover > .file-hover {
    transform: translateY(calc(0% + 45px));
}

#gallery > .file-container.selected > .file-hover {
    transform: translateY(0%);
}

#gallery > .file-container > .file-hover > .file-hover-tags {
    display: flex;
    gap: 5px;
    padding: 0 0 4px 0;
    overflow-x: scroll;
    margin-bottom: 5px;
}

#gallery > .file-container > .file-hover > .file-hover-tags::-webkit-scrollbar {
    visibility: visible;
    height: 8px;
}

#gallery > .file-container > .file-hover > .file-hover-tags::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 500px;
}

#gallery > .file-container > .file-hover > .file-hover-tags > .tag {
    cursor: default;
}

#gallery > .file-container > .file-hover > .file-hover-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    /* one line text with '...' */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#gallery > .file-container > .file-hover > .file-hover-author {
    font-size: 0.8rem;
    margin: 0;
    display: inline;
}

#gallery > .file-container > .file-hover > .file-hover-info {
    font-size: 0.8rem;
    margin: 0;
    display: inline;
    text-align: right;
    position: absolute;
    right: 10px;
}

#gallery > .file-container > .file-hover > .file-hover-actions {
    margin-top: 10px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#gallery > .file-container > .file-hover > .file-hover-actions > img {
    height: 90%;
    cursor: pointer;
}

#gallery > .file-container > .file-hover > .file-hover-actions > p {
    background-color: white;
    border-radius: 500px;
    color: #000000;
    margin: 0;
    height: fit-content;
    padding: 5px 10px;
    cursor: pointer;
}

.tag {
    background-color: rgb(118, 118, 118);
    border-radius: 500px;
    margin: 0;
    padding: 6px 12px;
    height: fit-content;
    width: fit-content;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    user-select: none;
}

.tag > p {
    margin: 0;
}

.tag img {
    width: 15px;
    height: 15px;
}

/* Mode fullscreen */

#fullscreen-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fullscreen-container > img,
#fullscreen-container > video {
    max-width: 80vw;
    max-height: 90vh;
}
