*,
html,
body {
    box-sizing: border-box;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: #fffee6;
}

.pointerOnHover {
    cursor: pointer;
}

#lineunderfilter {
    border: solid #f0f0e6;
    width: 100%;
    height: 1px;
}

#content {
    display: flex;
    height: calc(100vh - 85px);
}

.taglist {
    display: inline-flex;
    gap: 5px;
    padding: 4px;
    width: 95%;
    height: 200px;
    overflow: auto;
    margin-bottom: 0%;
    background-color: #393939;
    text-align: center;
    border: solid #f0f0e6;
    overflow-wrap: break-all;
}
.category > p {
    margin-bottom: 1%;
}

header > *,
#barre > * {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Header */

header {
    position: relative;
    background: linear-gradient(#af001e, #ea001c);
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 85px;
}

#home {
    margin: 0;
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
}

header > img {
    height: 100%;
}

#lienCompte {
    text-decoration: none;
    color: #ffffff;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
}

#lienCompte:hover {
    color: #ea001c;
}

#lienUpload {
    text-decoration: none;
    color: #ffffff;
    position: absolute;
    right: 200px;
    top: 50%;
    transform: translateY(-50%);
}

#lienUpload:hover {
    color: blue;
}

/* Sidebar */

#barre {
    background: linear-gradient(#af001e, #ea001c);
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px;
    width: 300px;
    text-align: center;
    overflow-y: auto;
}

#barre::-webkit-scrollbar {
    visibility: hidden;
    width: 0px;
}

/* Gallerie */

#gallery {
    display: flex;
    gap: 5px;
    padding: 5px;
    margin-top: 50px;
}

#gallery-header > .tag {
    border-color: #000000;
}

#gallery::-webkit-scrollbar {
    visibility: hidden;
    width: 0px;
}

#gallery-header {
    position: absolute;
    display: inline-flex;
    padding: 10px;
    height: 60px;
    gap: 5px;
    align-items: center;
}

#gallery-container {
    overflow-y: auto;
    flex: 1;
}

#gallery-container::-webkit-scrollbar {
    visibility: hidden;
    width: 0;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* #gallery > div {
    width: 25%;
    height: fit-content;
} */

#gallery > .file-container {
    width: 100%;
    display: flex;
    position: relative;
    margin: 5px 0px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 7px;
    min-height: 150px;
    aspect-ratio: 16/9;
    background-color: #000000;
}

#gallery > .file-container > .file-preview {
    width: 100%;
    object-fit: cover;
}

#gallery > .file-container > .file-hover {
    height: 0;
    max-height: 0;
    transition: all 0.5s ease;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    border-radius: 0 0 15px 15px;
    color: white;
    position: absolute;
    bottom: 0;
}

#gallery > .file-container:hover > .file-hover {
    height: 120px;
    max-height: 150px;
    padding: 10px;
}

#gallery > .file-container > .file-hover > .file-hover-tags {
    display: flex;
    gap: 5px;
    padding: 0 0 5px 0;
}

#gallery > .file-container > .file-hover > .file-hover-title {
    font-size: 1.5rem;
    margin: 0;
}

#gallery > .file-container > .file-hover > .file-hover-author {
    font-size: 0.6rem;
    margin: 0;
    display: inline;
}

#gallery > .file-container > .file-hover > .file-hover-info {
    font-size: 0.6rem;
    margin: 0;
    display: inline;
    text-align: right;
    position: absolute;
    right: 10px;
}

.tag {
    background-color: brown;
    border: 2px solid white;
    margin: 0;
    padding: 0;
    border-radius: 500px;
    margin: 0;
    padding: 6px 15px;
    font-weight: bold;
    height: fit-content;
    width: fit-content;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.tag > p {
    margin: 0;
}

#fullscreen-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fullscreen-container > img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

#fullscreen-container > video {
    width: 90%;
    height: 90%;
    object-fit: contain;
}
