body {
    overflow-y: auto !important;
}

body::-webkit-scrollbar {
    visibility: hidden;
    width: 0;
}

#content {
    display: flex;
    justify-content: center;
}

#category {
    width: 40%;
}

#tag {
    width: 60%;
}

.container {
    width: fit-content;
}

h2 {
    text-align: center;  
    font-size: 1.5rem;  
    font-weight: 800;
    color: var(--colorH2Tags);
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
    /* One line text with '...' */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#createTags, #createCategories{
    display : flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: auto;
}

.formModif {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formModif > input {
    width: 150px !important;
    background-color: var(--inputTags);
}

h3 {
     margin-right: 15px;
     color: var(--colorH3Tags);
}

#categorySelected {
    width: 150px ;
    background-color: var(--inputTags);
}

#categoryColor {
    width: 75px;
}

#createTag, #createCategory, #categoryColor, #categorySelected {
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
    background-color: var(--colorContainer);
    box-shadow: var(--boxShadowTags);
    padding: 10px;
    border-radius: 5px;
}

.preview {
    width: 200px;
    background-color: var(--colorPreviewTags);
    color: white;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
}

.container > form {
    width: 175px;
}

.textInput,
.colorInput,
.selectInput {
    width: 100%;
    background-color: var(--inputTags);
}

.confirmInput,
.removeInput {
    width: 50%;
    cursor: pointer;
    background-color: var(--inputTags);
}


.tag {
    background-color: rgb(118, 118, 118);
    border-radius: 500px;
    margin: 0;
    padding: 6px 12px;
    height: fit-content;
    width: fit-content;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    user-select: none;
    white-space: nowrap;
}

.tag > p {
    margin: 0;
}

.tag img {
    width: 15px;
    height: 15px;
}

#categoryContent {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 5px 15px;
    margin-top: 20px;
}

#tagContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(415px, 1fr));
    justify-items: center;
    margin-top: 20px;
}



/* Media querie */
@media screen and (max-width: 950px) {
    #content {
        flex-direction: column;
    }
    #category {
        width: 100%;
    }
    #tag {
        width: 100%;
    }
}